.App {
  text-align: center;
}

/* CSS For Home*/

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
  margin: 4em;
}

#profile {
  border-radius: 50%;
  height: 12em;
}

#paragraph {
  word-wrap: break-word;
  flex-wrap: wrap-reverse;
}

/*@media handheld, only screen and (max-width: 767px) {
  #homemain {
  line-height: 15px;
  background-color: transparent;
  height: 500px;
  width:600px;
  max-width: 320px; /* or whatever size you want 
  float: left;
  padding: 10px;
  font-size: 100%;
  margin: 10px;
  word-wrap: break-word;
  }
}
*/